<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="#" method="post">
        <label for="url">Enter URL : </label>
        <input type="text" name="url" id="url">
        <button type="submit">Shorten</button>
    </form>

    <div>
        {%if short_u %}
        <h1 id="sh">{{short_u}}</h1>
        <button onclick="copy_link()">copy</button>
        {% endif %}
    </div>

    <script>
        function copy_link() {
            let copyText = document.getElementById("sh").innerText;
            navigator.clipboard.writeText(copyText);
        }
    </script>

</body>

</html>